body, html{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
    background: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container *{
    width: 50%;
}
.title{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(161, 15, 44);
}
.title p{
    width: min-content;
    margin: 0;
    text-align: center;
    font: 40pt Arial;
}
.cardTable{
    height: 60%;
    background: white;
}
.controls{
    height: 25%;
    background: brown;
    display: flex;
    flex-wrap: wrap;
}
.controls p{
    width: 100%;
    margin: 0;
    font: 30pt Arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.controls button{
    box-sizing: border-box;
}

